*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
}

/* img */

/* avatar jambo img regole */

.first-img {
    max-width: 300px;
}

/* star layout */

.star::before,
.star::after {
      content: "";
      display: inline-block;
      width: 20%;
      height: 4px;
      background-color: white;
      vertical-align: middle;
      border-radius: 2px;
}

.star i {
      vertical-align: middle;
      width: 5%;
}

.star.dark-bars::before,
.star.dark-bars::after {
      background-color: black;
}

/* regole generali bottoni btn */
.btn-custom {
      color: white;
      border: solid 1px white;
      
  }
 
  /* footer  regole */
  .learn-more-link{
      text-decoration: none;
      color: green;
  }
